<% if flash[:notice] %>
  <h3><font color="red"><%= flash[:notice] %></font></h3>
<% end %>

<div>
  <h3><%= @gallery.title %></h3>
</div>

<div>
  <%= link_to :photos, admin_gallery_photos_path(@gallery) %>
</div>

<%= render "form", gallery: @gallery %>
