<% if flash[:notice] %>
  <h3><font color="red"><%= flash[:notice] %></font></h3>
<% end %>

<div>
  <h3><%= @news.title %></h3>
  <%= @news.content.html_safe %>
</div>

<%= render "form", news: @news %>
