<% if flash[:notice] %>
  <h3><font color="red"><%= flash[:notice] %></font></h3>
<% end %>

<div>
  <h3><%= @video.title %></h3>
</div>

<div>
  <%= @video.iframe_src.try :html_safe %>
</div>

<%= render "form", video: @video %>
