<% if flash[:notice] %>
  <h3><font color="red"><%= flash[:notice] %></font></h3>
<% end %>

<div>
  <h3><%= @course.title %></h3>
  <%= @course.content.html_safe %>
</div>

<%= render "form", course: @course %>
